a {
    color: #ffb9e2;
    text-decoration: none;
}

a:hover {
    color: #ffb9fb;
}

.p-sectionLinks-list a
 {
    color: #ffb9e2
}

.node--unread .node-icon i:before {
    opacity: 1;
    color: #e966ff;
}

.node-icon i:before {
    color: #884390;
}

.button.button--cta, a.button.button--cta {
    color: #fff;
    background: #ff66e5;
    border-color: #ff4ce1 #ff80ea #ff80ea #ff4ce1;
}

.block-header {
    background: linear-gradient(0deg, #803373, #ff7ae9) !important;
}

@media (min-width: 650px) {
    .block-container:not(.block-container--noStripRadius)>:first-child, .block-topRadiusContent, .block-container:not(.block-container--noStripRadius)>.block-body:first-child>.blockLink:first-child {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
}

.block-container {
    color: #e3e3e3;
    background: #363636;
    border-width: 2px;
    border-style: solid;
    border-top-color: #1c1c1c;
    border-right-color: #292929;
    border-bottom-color: #3d3d3d;
    border-left-color: #292929;
    border-radius: 8px;
}

.input {
    font-size: 15px;
    color: #e3e3e3;
    background: #2e2e2e;
    border-width: 2px;
    border-style: solid;
    border-top-color: #3d3d3d;
    border-right-color: #1c1c1c;
    border-bottom-color: #1c1c1c;
    border-left-color: #3d3d3d;
    border-radius: 8px;
    padding: 8px;
    display: block;
    width: 100%;
    line-height: 1.4;
    text-align: left;
    word-wrap: break-word;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
}

.p-nav-list .p-navEl.is-selected {
    color: #ffb9f3;
    font-weight: 700;
    background: #424242;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.p-navgroup-link:last-of-type {
    border-top-right-radius: 8px;
}

.p-navgroup-link:first-of-type.p-navgroup-link--whatsnew+.p-navgroup-link {
    border-top-left-radius: 8px;
    border-left: none;
}

.p-navgroup-link:first-of-type {
    border-top-left-radius: 8px;
    border-left: none;
}

.p-nav-inner:before, .p-nav-inner:after {
    content: " ";
    display: table;
}

.p-nav-inner:after {
    clear: both;
}

.p-navgroup {
    float: left;
    background: #424242;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.button, a.button {
	border: 2px solid transparent;
	border-radius: 8px;
}

.block--messages .message, .block--messages .block-row {
    color: #e3e3e3;
    background: #363636;
    border-width: 2px;
    border-style: solid;
    border-top-color: #1c1c1c;
    border-right-color: #292929;
    border-bottom-color: #3d3d3d;
    border-left-color: #292929;
    border-radius: 8px;
}

.block-container {
    color: #e3e3e3;
    background: #363636;
    border-width: 2px;
    border-style: solid;
    border-top-color: #1c1c1c;
    border-right-color: #292929;
    border-bottom-color: #3d3d3d;
    border-left-color: #292929;
    border-radius: 8px;
}

@media (min-width: 650px) {
    .block-container:not(.block-container--noStripRadius)>:last-child, .block-bottomRadiusContent, .block-container:not(.block-container--noStripRadius)>.block-body:last-child>.blockLink:last-child, .block-container:not(.block-container--noStripRadius)>.tabPanes:last-child>[role=tabpanel]>:last-child {
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }
}

.message-cell.message-cell--user, .message-cell.message-cell--action {
    position: relative;
    color: #e3e3e3;
    background: #424242;
    border-right: 2px solid #292929;
    min-width: 0;
}

.block--messages .message-cell:last-child {
    border-radius: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.block--messages .message-cell:first-child {
    border-radius: 0;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.button, a.button {
    display: inline-block;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid transparent;
    white-space: nowrap;
    -webkit-transition: background-color .1s ease;
    transition: background-color .1s ease;
    font-size: 13px;
    border-radius: 8px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: center;
    color: #e3e3e3;
    background: #545554;
    border-color: #474847 #616261 #616261 #474847;
}

@media (min-width: 650px) {
    .block:not(.block--messages) .block-container:not(.block-container--noStripRadius)>.block-body:last-child>.message:last-child .message-cell:first-child, .block:not(.block--messages) .block-bottomRadiusContent.message .message-cell:first-child, .block:not(.block--messages) .block-bottomRadiusContent>.message:last-child .message-cell:first-child {
        border-bottom-left-radius: 7px;
    }
}
@media (min-width: 650px) {
    .block:not(.block--messages) .block-container:not(.block-container--noStripRadius)>.block-body:first-child>.message:first-child .message-cell:first-child, .block:not(.block--messages) .block-topRadiusContent.message .message-cell:first-child, .block:not(.block--messages) .block-topRadiusContent>.message:first-child .message-cell:first-child {
        border-top-left-radius: 7px;
    }
}

@media (min-width: 650px) {
    .block:not(.block--messages) .block-container:not(.block-container--noStripRadius)>.block-body:last-child>.message:last-child .message-cell:last-child, .block:not(.block--messages) .block-bottomRadiusContent.message .message-cell:last-child, .block:not(.block--messages) .block-bottomRadiusContent>.message:last-child .message-cell:last-child {
        border-bottom-right-radius: 7px;
    }
}
@media (min-width: 650px) {
    .block:not(.block--messages) .block-container:not(.block-container--noStripRadius)>.block-body:first-child>.message:first-child .message-cell:last-child, .block:not(.block--messages) .block-topRadiusContent.message .message-cell:last-child, .block:not(.block--messages) .block-topRadiusContent>.message:first-child .message-cell:last-child {
        border-top-right-radius: 7px;
    }
}

.tagItem {
    display: inline-block;
    max-width: 100%;
    padding: 0 6px 1px;
    margin: 0 0 2px;
    border-radius: 8px;
    font-size: 12px;
    color: #c5c5c5;
    background: #424242;
    border: 0px solid #292929;
}

.badge, .badgeContainer:after {
    border-radius: 4px;
}

.structItem {
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    border-top: 2px solid #191919;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.block-header {
    padding: 8px 10px;
    margin: 0;
    font-weight: 400;
    text-decoration: none;
    font-size: 20px;
    color: #e3e3e3;
    background: #5c5c5c;
    border-bottom: 2px solid #1c1c1c;
    background: linear-gradient(0deg, #5c5c5c, #494949);
}

.node+.node {
    border-top: 2px solid #191919;
}

.userBanner.userBanner--gmcelder {
    color: #eee;
    background: #7d7b81;
    border-color: #9d9ba1;
    border-color: #9d9ba1;
}

.message-userBanner.userBanner {
    display: block;
    margin-top: 3px;
}

.userBanner {
    font-size: 75%;
    font-weight: 400;
    font-style: normal;
    padding: 1px 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
}